---
layout: default
---

<div id="main" role="main">
	<article itemscope itemtype="http://schema.org/Article">
		{% if page.image.feature %}
		<div class="page-feature">
			<div class="page-image page-feature-image" style="background-image: url({{ site.imagepath }}/{{ page.image.feature }})">
				<div class="page-feature__text {{page.title-position}}">
					<h1 class="title"><span>{{ page.title }}</span></h1>
					{% if page.descriptionNULL %}
					<div class="post__description">
						{{ page.description | markdownify }}
					</div>
					{% endif %}
				</div>
			</div><!-- /.page-image -->
		</div><!-- /.page-feature -->
		{% endif %}
		<div class="inner-wrap">
			<div id="content" class="page-content" itemprop="articleBody">
				{{ content }}
				<hr />
				<footer class="page-footer">
					{% if page.share != false %}{% include share-this.html %}{% endif %}
					{% include page-meta.html %}
				</footer><!-- /.footer -->
			</div><!-- /.content -->
		</div><!-- /.inner-wrap -->
	</article><!-- ./wrap -->
</div><!-- /#main -->
